<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">    <title>Volunteer Tracker</title>
  </head>
  <body>
    <div class="container">
      <h1>Track your projects and volunteers</h1>
      <%= yield %>
    </div>
  </body>
</html>
