<h1>Projects</h1>

<% if @projects.any? %>
<h4>Click on a project to see the associated volunteers</h4>

<ul>
  <% @projects.each do |project| %>
  <li><a href='/projects/<%= project.id %>'><%= project.title %></a><li>
  <% end %>
</ul>
<% else %>
  <h4>You need to add projects!</h4>
<% end %>

<h3>Enter a new project!</h3>
<form action ="/projects" method="post">
  <label for="title">Project title</label>
  <input name="title" type="text">
  <button type="submit">Add project</button>
</form>
<br><a href="/volunteers">Volunteer list</a>
