<h3>Enter a new project!</h3>
<form action ="/projects/new" method="post">
  <label for="title">Project title</label>
  <input name="title" type="text">
  <button type="submit">Add project</button>
</form>

<!-- <h4>Add a volunteer to a project</h4>
<form action="/volunteers" method="post">

<br><a href="/volunteers">Volunteer list</a> -->
