<!-- Move this to the idex page eventually -->

<h2>Volunteers:</h2>

<% if @projects.any? %>
<h4>Your fabulous volunteers:</h4>

<ul>
  <% @volunteers.each do |volunteer| %>
  <li><a href='/volunteers%>'><%= volunteer.name %></a><li>
  <% end %>
</ul>
<% else %>
  <h4>You need to get some volunteers pronto!</h4>
<% end %>
<a href="/volunteers">Add Volunteers</a>
