<h1>Projects</h1><hr>
<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><h4><a href="/projects/<%= project.id%>"><%= project.title %></a><h4></li>
    <% end %>
  </ul>

<h4>Click on project to edit project or add a project volunteer.</h4>
<% else %>
  <h4>There are no projects yet!</h4>
<% end %>
<br><a class="btn btn-default" href="/projects/new">Add Project</a>

<h1>Volunteers</h1><hr>
<% if @volunteers.any? %>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <li><h4><a href="/volunteers/<%= volunteer.id%>"><%= volunteer.volunteer_name %></a><h4></li>
    <% end %>
  </ul>

<h4>Click on volunteer to edit</h4>
<% else %>
  <h4>There are no volunteers yet!</h4>
<% end %>
<br><a class="btn btn-default" href="/volunteers/new">Add Volunteer</a>
