<h2>Project: <%= @project.title %></h2>
<hr>
<% if @volunteers.any? %>
<h2>Your Fabulous Volunteers</h2>
  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><%= volunteer.volunteer_name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>You need some volunteers!!</p>
<% end %>
<br><a class="btn btn-default" href="/volunteers/new">Add a Volunteer</a>

<h2>Update Project</h2>
<form action ="/projects/<%= @project.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="title">Change Project Title</label>
  <input type="text" name="title">
  <button class="btn btn-default" type ="submit">Change title</button>
</form>

<form action="/projects/<%= @project.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-default" type="submit">Delete Project</button>
  <a class="btn btn-default" href="/">Home</a>
</form>
