<h2>Project: <%= @project.title %></h2>
<hr>
<% if @volunteers.any? %>
  <h2>Your Fabulous Volunteers</h2>
  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><%= volunteer.volunteer_name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>You need some volunteers!!</p>
<% end %>
<br><a class="btn btn-default" href="/volunteers/new">Add Volunteer</a>

<h3>Update Project</h3>
<form action ="/projects/<%= @project.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="title">Change Title</label>
    <input class="form-control" type="text" name="title">
  </div>
  <button class="btn btn-default" type ="submit">Edit Title</button>
</form><br>

<form action="/projects/<%= @project.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-default" type="submit">Delete Project</button>
</form><br>

<a class="btn btn-default" href="/">Home</a>
