<h3>Enter a new project!</h3>
<form action ="/projects" method="post">
  <div class="form_group">
    <label for="title">Project Title:</label>
    <input class="form-control" name="title" type="text">
  </div>
  <br><button class="btn btn-default" type="submit">Add project</button>
</form>

<br><a class="btn btn-default" href="/">Home</a>
