body {
  background: #DDDDDD;
  padding: 40px 0;
  color: #606060;
  text-align: center;
}
.page-head {
    position: relative;
    background: #A2CCDC;
    overflow: hidden;
    h1 {
      font-family: 'Allerta';
        padding: 20px;
        text-align: center;
        font-size: 70px;
        color: #606060;
    }
}
